.satu {
  width: 300px;
  height: 100px;
  background-color: pink;
  border: 10px dotted green;
  overflow: scroll;
}
.dua {
  width: 350px;
  height: 100px;
  background-color: aqua;
  border: 5px solid skyblue;
  overflow: scroll;
}
.tiga {
  width: 400px;
  height: 100px;
  background-color: red;
  border: 20px dashed limegreen;
  overflow: scroll;
}
